// Discovery
.badge
  margin-right: 5px
  font-size: 10pt

.badge-active
  background-color: $red

.badge-inactive
  color: $dark-gray
  background-color: $gray

.grid
  width: 100%

.grid-item
  padding: 0
    left: 0
    right: 0
  .grid-item-contents
    img
      width: 100%