# Elastic Beanstalk Files.elasticbeanstalk!.elasticbeanstalk/*.cfg.yml!.elasticbeanstalk/*.global.yml# Pycharm files/.ebextensions/.idea/.idea/dataSources.local.xml.idea/dataSources.xml.idea/dataSources/.idea/libraries/.idea/misc.xml.idea/modules.xml.idea/syllin.iml.idea/vcs.xml.idea/watcherTasks.xml.idea/workspace.xmlsyllin/__pycache__/