<!-- Masonry (depends on jQuery) -->
<script src="/static/js/discovery/masonry.pkgd.min.js"></script>

<!-- imagesLoaded (depends on jQuery) -->
<script src="/static/js/discovery/imagesloaded.pkgd.min.js"></script>

<!-- Initialize Masonry + imagesLoaded to prepare the Discovery Feed -->
<script src="/static/js/discovery/init_grid.min.js"></script>