{% macro feed(songs) -%}
    <div class="grid">


    </div>
{%- endmacro %}

{% macro badge(text, suffix=None) -%}
    <span class="badge{% if suffix %} badge-{{ suffix }}{% endif %}">{{ text }}</span>
{%- endmacro %}

{% macro tags(tags) -%}
    {% if tags %}
        <div class="d-flex p-2">
            {% for tag in tags %}
                {% if tag[1] %}
                    {% set badge_style = 'active' %}
                {% else %}
                    {% set badge_style = 'inactive' %}
                {% endif %}
                {{ badge(tag[0], badge_style) }}
            {% endfor %}
        </div>
    {% endif %}
{%- endmacro %}