{% extends 'base/layout.jinja2' %}

{% import 'base/macros.jinja2' as macros %}

{% block title %}Song "{{ song.title }}"{% endblock %}

{% block content %}
	{% if song.album  %}
    	{{ macros.title(song.title, song.album.title ~ " - " ~ song.album.artist.email) }}
        <img src="{{ song.album.cover_art }}">
        <p></p>
    {% else %}
    	{{ macros.title(song.title, song.artist.email) }}
    {% endif %}
    <!-- TODO: Song View Page -->

    {% if user_owns_song(current_user, song) %}
    	You own this song
    {% else %}
    	<form method="POST">
	    	{{ form.purchase.label }}
	    	{{ form.purchase() }}
	    	{{ form.hidden_tag() }} 
	    </form>
    {% endif %}
{% endblock %}