<div id="nav-drawer" class="drawer drawer-inside dw-xs-5 fold.open full-height" aria-labelledby="nav-drawer">
    <div class="drawer-contents">
        <ul class="drawer-nav">
            <li role="presentation">
                <a href="#">
                    <div class="d-flex justify-content-between">
                        <i class="mr-auto fa fa-rocket fa-2x nav-icon align-middle"></i><span
                            class="align-middle ml-auto nav-item">Discovery</span>
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <div class="d-flex justify-content-between">
                        <i class="fa fa-th-list fa-2x nav-icon align-middle"></i><span class="align-middle nav-item">Library</span>
                    </div>
                </a>
            </li>
            <li role="presentation">
                <a href="#">
                    <div class="d-flex justify-content-between">
                        <i class="fa fa-bar-chart fa-2x nav-icon align-middle"></i><span class="align-middle nav-item">Stats</span>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</div>