<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'head.html' %}
    {% block head %}{% endblock %}
    <!-- Title -->
    <title>{% block title %}Syllin{% endblock %}</title>
</head>
<body class="has-canvas">
<div class="container-fluid full-height" id="main-container">
    <div>
        {% include 'nav.html' %}
    </div>
    <div class="has-inner-drawer full-height">   <!-- TODO: Implement drawer -->
        {% include 'drawer.html' %}
        {% block content %}{% endblock %}
    </div>
    {% include 'js_imports.html' %}
</div>
</body>
</html>