{% macro link(href, text) -%}
    <a href="{{ href }}">{{ text }}</a>
{%- endmacro %}

{% macro user_link(id, text) -%}
    <a href="/u/{{ id }}">{{ text }}</a>
{%- endmacro %}

{% macro library_link(id, text) -%}
    <a href="/u/{{ id }}/library">{{ text }}</a>
{%- endmacro %}

{% macro statistics_link(id, text) -%}
    <a href="/u/{{ id }}/statistics">{{ text }}</a>
{%- endmacro %}

{% macro song_link(id, text) -%}
    <a href="/s/{{ id }}">{{ text }}</a>
{%- endmacro %}

{% macro album_link(id, text) -%}
    <a href="/a/{{ id }}">{{ text }}</a>
{%- endmacro %}

{% macro icon(icon_classes) -%}
    <i class="fa {{ icon_classes }}"></i>
{%- endmacro %}

{% macro title(main, subtitle=None) -%}
    <h2 class="h2 text-center">{{ main }}</h2>
    {% if subtitle %}<h5 class="h5 text-center">{{ subtitle }}</h5>{% endif %}
{%- endmacro %}

{% macro discovery_tags() -%}
    Discovery tags<br>
{%- endmacro %}

{% macro discovery_feed() -%}
    Discovery feed<br>
{%- endmacro %}