{% macro link(href, text) -%}
    <a href="{{ href }}">{{ text }}</a>
{%- endmacro %}

{% macro user_link(id, text) -%}
    <a href="/u/{{ id }}">{{ text }}</a>
{%- endmacro %}

{% macro library_link(id, text) -%}
    <a href="/u/{{ id }}/library">{{ text }}</a>
{%- endmacro %}

{% macro statistics_link(id, text) -%}
    <a href="/u/{{ id }}/statistics">{{ text }}</a>
{%- endmacro %}

{% macro song_link(id, text) -%}
    <a href="/s/{{ id }}">{{ text }}</a>
{%- endmacro %}

{% macro album_link(id, text) -%}
    <a href="/a/{{ id }}">{{ text }}</a>
{%- endmacro %}