{% extends 'base/layout.jinja2' %}
{% block content %}
<form method="POST" action="/new_album">
	{{ form.hidden_tag() }}

	<input type="file" id="fileupload" /> <!-- OnChange method in fileUpload.js -->

 	<div> 
	 	Album cover art
	 	<img id="preview">
	</div>
	<div>
	    {{ form.title.label }} : {{ form.title() }}
    </div>
    <div>
	    {{ form.submit.label }} : {{ form.submit() }}
    </div>
</form>

    
{% endblock %}
{% block late_js_imports %}
	<script type="text/javascript" src="{{url_for('static', filename='js/fileUpload.js')}}"></script> 
{% endblock %}