{% extends 'base/layout.jinja2' %}

{% import 'base/macros.jinja2' as macros %}
{% import 'album/macros.jinja2' as album %}

{% block title %}Album "{{ current_album.title }}"{% endblock %}

{% block content %}
    {{ macros.title(current_album.title, current_album.artist.email) }}
    {# TODO: Replace this with actual album art once we pull in the AWS branch #}
    {% if current_album.cover_art %}
    	{{ album.art(current_album.cover_art) }}
    {% else %}
    	{{ album.art('/static/img/placeholder_img.gif') }}
    {% endif %}
    {{ album.songs(current_album.songs) }}
{% endblock %}