<!-- jQuery -->
<script src="/static/js/jquery-3.1.1.min.js"></script>

<!-- Tether (depends on jQuery) -->
<script src="/static/js/tether.min.js"></script>

<!-- Bootstrap JS (depends on jQuery+Tether) -->
<script src="/static/js/bootstrap.min.js"></script>

<!-- Bootstrap-Drawer JS (depends on Bootstrap+jQuery) -->
<script src="/static/js/drawer.min.js"></script>

<!-- Syllin Custom JavaScript -->
<script src="/static/js/syllin.min.js"></script>