<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'base/head.jinja2' %}
    {% block head %}{% endblock %}

    <!-- Title -->
    <title>{% block title %}{% endblock %} - Syllin</title>
</head>

<!-- Body -->
<body class="has-canvas container-fluid">

<!-- Nav Bar -->
{% include 'nav/bar.jinja2' %}

<!-- Viewport -->
<div class="has-inner-drawer" id="viewport">

    <!-- Nav Drawer -->
    <div id="nav-drawer" class="drawer drawer-inside dw-lg-2 dw-md-2 dw-sm-3 dw-xs-6 fold animate border-0">
        {% include 'nav/drawer.jinja2' %}
    </div>

    <!-- Main Content -->
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</div>

<!-- JavaScript -->
{% include 'base/js.jinja2' %}
{% block js %}{% endblock %}

</body>

</html>